<!-- Student id:300976059
Name:kranthi kumar G  janardhanaraj
Date:17-FEB-2019  -->



<% include ./partials/header.ejs %>

    <div class="container">
    <br>
    <br>
        <% include ./partials/content.ejs %>
    </div>

<% include ./partials/footer.ejs %>
